// modal wrap
.v-dialog {
  // 좌우 나눴을시, 오른쪽 본문
  .card-right {
    width: 40%;
    position: absolute;
    top: 75px;
    right: 20%;
    .contract-wrap {
      > div {
        height: 45px;
      }
    }
  }
  // 본문 텍스트 wrap (v-list, v-list--subheader)
  .v-list--three-line {
    // 각 리스트 wrap (v-list__tile, v-list__tile--avatar)
    > div {
      height: 45px;
    }
    // label text title
    .input-title {
      color: #646464;
      font-size: 14px;
      text-align: right;
      width: 120px;
    }
    // margin-right 15px이 필요한 Input
    .input-mr {
      margin-right: 15px;
    }
    // 필수항목 *
    .text-danger {
      color: #d26a5c;
    }
    // input 텍스트 창
    .input-text {
      font-size: 14px;
      border: 1px solid #e6e6e6;
      padding: 5px;
      border-radius: 5px;
      margin-left: 25px;
      width: 350px;
      color: #333;
    }
    // input type file
    .input-file {
      font-size: 12px;
      margin-left: 25px;
      width: 150px;
    }
    // input type tel
    .input-tel {
      width: 110px;
      margin-left: 10px;
    }
    // 사용 가능한 파일 문구
    .file-txt {
      font-size: 10px;
      margin-left: 20px;
    }
    // 선택 창
    .selectbox {
      display: inline-block;
      position: relative;
      width: 110px;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      z-index: 1;
      margin-left: 25px;
      color: #333;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 5px;
        width: 0;
        height: 0;
        margin-top: -1px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #999;
      }
      select {
        width: 100%;
        height: auto;
        padding: 5px;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }
}